* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Verdana;
	width: 100%;
	height: 100%;
	background:#808080;
}

img {
	border:none;
}

h2 {
	font: 40px 'Georgia';
}

h3 > a
{
	text-decoration: none;
}

h3 {
	font: 24px 'Georgia';
	line-height: 22px;
}
.fs14 {
	font-size: 14px;
}

.p_r {
	position: relative;
}

.box {
   max-width:970px;
   margin: 0 auto;
}

.clear{
	clear: both;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

.center {
	position: absolute;
	left: 50%;
	top:50%;
}

.wrapper {
	width: 100%;
	min-width: 300px;
	min-width: 970px\0/;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	z-index: 2;
}

.alert 
{
	display:inline-block;
	*display: inline;
	zoom:1;
	background:#80d7cf;
	font-size: 14px;
	color:#000;
	text-transform: uppercase;
	text-align: center;
	padding: 30px 10px;
	line-height: 28px;
	text-decoration: none;
	border:none;
	border-bottom:4px solid #80d7cf;
	/*height: 24px;*/
	width: 98.5%;
	transition:all 0.2s;
	-webkit-transition:all 0.2s;
	-moz-transition:all 0.2s;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: auto;
	background: #141213;
	padding: 0 0 20px;
}
	.header #tel {
		float: left;
		margin-top: 20px;
	}
	#tel {
		position: relative;
	}

	#tel>.bg{
		float: left;
		width: 20px;
		height: 21px;
		background: url(../image/sprite.png) no-repeat 0 0;
	}
	#tel .number {
		float: left;
		margin: 9px 0 0 8px;
	}
	.number {
		font-size: 24px;
		
		color:#fff;
	}
		.number .f_num {
			float: left;
			color:#80d7cf;
			font-size: 14px;
			line-height: 12px;
		}



		.number .n_num {
			float: left;
			margin-left: 6px;
		}

	#tel .select {
		float: left;
		margin: 9px 0 0 8px;
	}
	
	.select {
		width: 17px;
		height: 17px;
		border: 1px solid #535353;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		position: relative;
		float: right;
		background: #141213;
	}
	
	.select:hover {
		cursor: pointer;
	}

	.select .bg {
		width: 10px;
		height: 4px;
		margin-left: -5px;
		margin-top: -2px;
		background: url(../image/sprite.png) no-repeat -25px -1px;
	}
	.select .bg.active{
		background: url(../image/sprite.png) no-repeat -25px -10px;
	}	

	#logo {
		width: 349px;
		height: 58px;
		margin-left: -174px;
		position: absolute;
		left: 50%;

	}

	.header #logo {
		margin-top: 20px;
	}
	
	#logo a {
		text-decoration: none;
		border:none;
		background: none;
	} 

	.header .rec_block{
		float: right;
		margin-top: 20px;
		position: relative;
	}
	
	.rec_block .button {
		float: right;
		margin-bottom: 25px;
	}

	.button {
		display:inline-block;
		*display: inline;
		zoom:1;
		background:#80d7cf;
		font-size: 14px;
		color:#000;
		text-transform: uppercase;
		text-align: center;
		padding: 0 10px;
		line-height: 28px;
		text-decoration: none;
		border:none;
		border-bottom:4px solid #80d7cf;
		height: 24px;
		transition:all 0.2s;
		-webkit-transition:all 0.2s;
		-moz-transition:all 0.2s;
	}

	.continue {
		display:inline-block;
		*display: inline;
		zoom:1;
		background: none;
		border: 1px solid #80d7cf;
		font-size: 12px;
		color:#fff;
		text-transform: uppercase;
		text-align: center;
		padding: 0 10px;
		line-height: 24px;
		text-decoration: none;
		height: 24px;
		position: relative;
	}	
	.button:hover {
		cursor: pointer;
		border-bottom:4px solid #348065;
	}

	input[type='submit'].button, button.button {
		height: 26px;
	}

	.rec {
		width: 124px;
		height: 42px;
		padding:14px;
		border: 1px solid #535353;
	}
	
	.second_box .rec {
		float: left;
		width: 160px;
		height: auto;
		padding: 6px 0px;
		margin: 0px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
	}
	.second_box .rec .title {
		font-size: 12px;
		margin-left: 10px;
	}
	.rec .bg {
		float:left;
		width: 32px;
		height: 38px;
		background: url(../image/sprite.png) no-repeat -2px -24px;
	}

	.rec .title {
		float: left;
		color:#fff;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		margin-left: 14px;
	}

	.rec .s_title {
		float: left;
		margin-left: 14px;
		font-size: 12px;
		color:#80d7cf;
		text-decoration: none;
	}

	.rec .s_title:hover {
		text-decoration: underline;
	}

	.rec_block .hide_header{
		position: absolute;
		right: 0px;
		top:40px;
	}
	.second_box {
		width: 90%;
		margin: 0 auto;
		display: none;
	}
	.second_box .hide_menu, .second_box .hide_header{
		float: right;
		margin-left: 18px;
	}

	.rec_block .hide_menu {
		position: absolute;
		right: 50px;
		top:40px;
	}

	.hide_menu {
		width: 30px;
		height: 30px;
		border: 1px solid #535353;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		position: relative;
		display: none;
	}
	
	.hide_menu.active{
		background: #80d7cf;
	}
	
	.hide_menu.active span {
		background: #141213;
	}

	.hide_menu span {
		display: block;
		width: 80%;
		height: 4px;
		margin:4px auto;
		background: #80d7cf;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
	}

	.hide_header {
		width: 30px;
		height: 30px;
		border: 1px solid #535353;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		position: relative;
		display: none;
	}
		.hide_header .bg.active{
			background: url(../image/sprite.png) no-repeat -25px -10px;
		}
		.hide_header .bg{
			width: 10px;
			height: 4px;
			margin-left: -5px;
			margin-top: -2px;
			background: url(../image/sprite.png) no-repeat -25px -1px;
		}

	.header .search {
		position: absolute;
		left: 50%;
		top:116px;
		margin-left: -290px;	
	}
	
	.search {
		width: 580px;
		height: 28px;
		background:#535353;
	}

	.search form {
		width: 100%;
	}
	.search input[type=text] {
		background:none;
		border:none;
		float: left;
		height: 28px;
		width:80%;
		padding: 0 15px;
		color:#80d7cf;
	}
	.search input[type=submit] {
		float: right;
		width: 20px;
		height: 20px;
		background: url(../image/sprite.png) no-repeat -40px -1px;
		border:none;
		margin:4px 5px 3px 0;
	} 
	input[type=submit]:hover {
		cursor: pointer;
	}

	.menu{
		background: #535353;
		box-shadow: 1px 1px 3px #000;
		position: relative;
		z-index: 3;
	}
	.menu .box >ul{
		display: table;
		*display: block;
		list-style: none;
		font-size: 0px;
		width: 100%;
		text-align: center;

	}	
		.menu ul * {
			font-size: 14px;
		}
		
		.menu .box>ul>li {
			display: inline-block;
			*display: inline;
			zoom:1;
			width: 12%;
			position: relative;
		}

		.menu .box>ul>li + li {
			width: 16%;
		}
		
		.menu .box>ul>li + li + li{
			width: 13%;
		}
		
		.menu .box>ul>li + li + li + li{
			width: 15%;
		}
		
		.menu .box>ul>li + li + li + li + li{
			width: 25%;
		}

		.menu .box>ul>li + li + li + li + li + li{
			width: 15%;
		}
		.menu  a .select{
			display: none;
			margin-right: 10px;
		}
		.menu .box>ul>li>a{
			color:#fff;
			text-transform: uppercase;
			text-align: center;
			text-decoration: none;
			display:block;
			padding: 10px 0;
			background: #535353;
			transition:all 0.2s;
			-webkit-transition:all 0.2s;
			-moz-transition:all 0.2s;
		}

		

		.menu .box>ul>li:hover>a, .menu .box>ul>li.active>a{
			background: #80d7cf;
			color:#000;
		}
			.menu .box>ul>li ul {
				position: absolute;
				left: 0px;
				top:37px;
				list-style: none;
				background: #80d7cf;
				width: 100%;
				display: none;
			}
			.menu .box>ul>li:hover ul {
				display: block;
			}

			.menu .box>ul>li ul li {
				text-align: left;
			}
				.menu .box>ul>li ul li  a {
					color:#fff;
					text-transform: uppercase;
					text-align: left;
					text-decoration: none;
					display:block;
					padding: 10px 0px 10px 15px;
					font-size: 12px;
					color:#000;
					border-top:1px solid #000;
				}
				.menu .box>ul>li ul li:first-child a {
					border:none;
				} 
				.menu .box>ul>li ul li  a:hover{
					color:#fff;
				}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 158px;
	min-height: 600px;
	position: relative;
}
	#cbg {
		position: fixed;
		background: rgba(255, 255, 255, 0.5) url(../image/bg.jpg) no-repeat;
		background-size: 100%;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		display: block;
		z-index: 1;
	}
	#main_box {
		position: relative;
		z-index: 2;
	}
	#slider {
		box-shadow: 0px 0px 4px #000;
		position: relative;
		width: 99%;
		margin: 0 auto;
	}
		#slider .sl_container {
			overflow:  hidden;
			width: 100%;
			position: relative;
		}
		#slider .sl_content {
			width: 99999px;
			overflow: hidden;
		}

		#slider .sl_content .item{
			float: left;
			width: 970px;
			height: auto;
			
			position: relative;
		}
		
		#slider .sl_content .item img {
			display: block;
			max-width: 100%;
			height: auto;
		}

		.f_title {
			position: absolute;
			left: 50%;
			top:10%;
			z-index: 2;
			width: 70%;
			margin-left:-35%;
			text-align: center;
		}
			.f_title  .f_title_text {
				background:rgba(0, 0, 0, 0.55);
				color:#fff;
				font: 36px 'Georgia';
				padding: 4px 10px;
				display: inline-block;
				zoom:1;
				margin-bottom: 5px;
			}
			.f_title  .f_text {
				color:#000;
				display: block;
				text-align: center;
				font: 18px 'Georgia';
				margin-bottom: 10px;
			}
			.f_title .look_cat {
				background: #fff;
				display: inline-block;
				zoom:1;
				color:#000;
				font-size: 18px;
				padding: 6px 15px;
				text-decoration: none;
				color:#000;
				font-family: 'Georgia'
			}
			.tt_l {
				text-transform: lowercase !important;
				font-family: 'Georgia';
				font-size:18px;
				padding-left: 20px;
				padding-right: 20px;
			}
			.ber {
				color:#80d7cf !important;
				background: #535353 !important;
			}

			.sl_left_nav, .sl_right_nav {
				position: absolute;
				background:rgba(0, 0, 0, 0.55);
				top:0px;
				width: 10%;
				height: 100%;
				opacity: 0.5;
				-moz-opacity: 0.5;
				-webkit-opacity: 0.5;
				-ms-opacity: 0.5;
				z-index: 4;
				
			}

			.sl_left_nav:hover, .sl_right_nav:hover{
				opacity: 1;
				-moz-opacity: 1;
				-webkit-opacity: 1;
				-ms-opacity: 1;
			}

			.sl_left_nav{
				left: 0px;
			}
				.sl_left_nav .bg {
					position: absolute;
					left: 50%;
					top:50%;
					margin-left: -6px;
					margin-top:-9px;
					background: url(../image/sprite.png) no-repeat -62px -1px;
					width: 11px;
					height: 18px;
					
				}

			.sl_right_nav{
				right: 0px;
			}
				.sl_right_nav .bg {
					position: absolute;
					left: 50%;
					top:50%;
					margin-left: -6px;
					margin-top:-9px;
					background: url(../image/sprite.png) no-repeat -76px -1px;
					width: 11px;
					height: 18px;
				}

			#slider .sl_nav{
				position: absolute;
				bottom: 10px;
				width: 70%;
				left: 50%;
				margin-left:-35%;
				overflow:  hidden;
				font-size: 0px;
				display: table;
				*display: block;
				text-align: center;
			}
			#slider .sl_nav span {
				background: #fff;
				width: 12px;
				height: 12px;
				display: inline-block;
				zoom:1;
				border-radius: 50%;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				-khtml-border-radius: 50%;
				margin: 0 2%;
			}
			#slider .sl_nav span.active, #slider .sl_nav span:hover{
				background: #80d7cf;
				cursor: pointer;
			}	
			
	.text_blocks {
		margin-top: 5px;
		display: table;
		*display: block;
		font-size: 0px;
		text-align: center;
	}
		

	.text_block {
		width: 49%;
		height: auto;
		position: relative;
		display: inline-block;
		*display: inline;
		zoom:1;
		vertical-align: top;
		margin: 0 0.4% 5px;
		background: #fff;
		box-shadow: 0px 0px 4px #000;
	}
	
	.text_block a  {
		text-decoration: none;
	}

	.text_block .img_bg {
		width: 100%;
		height: auto;
		display: block;

	}
	.text_block h2 {
		color: #80d7cf;
		margin: 11px 0 12px;
	}
	.text_block h2, .text_block h3{
		text-align: center;
	}

	.div_center {
		margin:0 auto;
		width: 95%;
		padding: 2% 0;
	}

	.img_h {
		text-align: center;
	}
	
	.text_block .img_h {
		padding-top: 15px;
	}

		.img_h img {
			max-width: 100%;
			max-height: 100%;
			display: block;
			margin: 0 auto;
		}

	.f_date {
		display: block;
		text-align: center;
		font-size: 14px;
		margin: 10px auto;
	}

	.text_block p{
		margin: 10px 0px;
		text-align: justify;
	}
	.a_center {
		text-align: center;
	}

	.more {
		margin: 10px 0;
		display: inline-block;
		background: #80d7cf;
		color:#000;
		text-decoration: none;
		padding:4px 25px;
	}


	.carusel {
		position: relative;
		width: 100%;
		height: 190px;
		margin: 40px 0px;
	}

		.carusel .pagination {
			position: absolute;
			left: 50%;
			margin-left: -75px;
			top:-40px;
			font-size: 0px;
			text-align: center;
			display: table;
			width: 150px;
			*display: block;
		}
		.carusel .pagination span {
			color:#fff;
			font-size: 18px;

		}
		.pagination .nav_a{
			width: 11px;
			height: 18px;
			display: inline-block;
			vertical-align: top;
			background: url(../image/sprite.png)  no-repeat -62px -1px;
			margin: 0 8px;

		}
		.pagination .nav_a.right_nav {
			background: url(../image/sprite.png)  no-repeat -76px -1px;
		}

		.car_container{
			overflow: hidden;
			width: 100%;
			height: 190px;
		}
			.car_content {
				width: 100%;
				height: 190px;
				overflow: hidden;
				display: table;
				*display: block;
				text-align: center;
				font-size: 0px;
			}

				.car_content .item {
					height: 190px;
					position: relative;
					display: inline-block;
					*display: inline;
					zoom:1;
					vertical-align: middle;
				}
					.sm_content2{
						width: 180px;
						margin: 0 auto;
						height: 190px;
						position: relative;
						box-shadow: 1px 1px 3px #000;
						overflow: hidden;
					}

					 .sm_content2:hover .item_hover {
						top: 0px;
						overflow: hidden;
						text-overflow: ellipsis;
					}	
					

					.car_content .item img {
						width: 100%;
						height: 100%;
						display: block;
					}

				.car_content .price	 {
					position: absolute;
					z-index: 2;
					left: 10px;
					top:10px;
					background: #fff;
					padding: 5px;
					border-radius: 50%;
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					-khtml-border-radius: 50%;
					overflow: hidden;
					min-width: 50px;
					min-height: 50px;
					text-align: center;
					display: table;
					
				}
						.car_content .price>span {
							display: table-cell;
							vertical-align: middle;
						}
							.car_content .price>span span {
								font-size: 18px;
								display:inline-block;
								vertical-align: middle;
							}
							.car_content .price>span span.old_price {
								font-size:14px;
								color:#808080;
							}

					.item_hover {
						position: absolute;
						left: 0;
						top:100%;
						width: 100%;
						height: 100%;
						background: #80d7cf;
						z-index: 3;
						text-align: center;
						transition:all 0.2s;
						-webkit-transition:all 0.2s;
						-moz-transition:all 0.2s;
					}
						.item_hover .buy_text {
							font-size: 14px;
							color:#000;
							text-align: center;
							display: inline-block;
							margin-top: 40px;
						}	
						.buy {
							display: inline-block;
							text-align: center;
							vertical-align: middle;
							color:#000;
							font-size: 0px;
						}
							.buy span {
								display: inline-block;
								vertical-align: middle;
								font-size: 14px;
							}
							.buy .bg{
								background: url(../image/sprite.png) no-repeat -37px -23px;
								width: 26px;
								height: 32px;
								margin-right: 10px;
							}

							.torec {
								padding: 5px 20px 10px;
								margin-left: 10px;
							}

				.hide_items {
					display: none;
				}				
		
		.car_h {
			text-align: center;
			color:#fff;
			padding: 20px 0;
		}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 100%;
	min-width: 300px;
	margin: -158px auto 0;
	min-height: 138px;
	background: #141213;
	position: relative;
	padding: 20px 0px;
	display:table;
	*display: block;
	font-size: 0px;
	z-index: 2;
}
	.footer .box{
		padding: 0 10px;
	}
	.footer * {
		font-size: 12px;
		color:#fff;
	}
	.footer a {
		color:#80d7cf;
		text-decoration: none;
	}
	.subscr {
		display: inline-block;
		*display: inline;
		vertical-align: top;
		width: 34%;
		height: 130px;
	}
		.subscr span {
			display: block;
			margin-bottom: 10px;
		}

		.subscr div {
			width: 230px;
			height: 30px;
			background:#80d7cf;
			overflow: hidden;
		}
			.subscr div label {
				float: left;
				padding: 5px 0;
				width: 80%;
			}

			.subscr div  input[type="text"] {
				background: none;
				border:none;
				width: 100%;
				padding: 3px 5px;
				color:#000;
				height: 12px;
			}
			::-webkit-input-placeholder {
			    color: #000;
			}

			.subscr div  input[type="button"] {
				float: right;
				border:none;
				background: url(../image/sprite.png) -3px -69px; 
				width:23px;
				height: 15px;
				margin: 7px 5px 0px 0px;
			}
	.list {
		display: inline-block;
		*display: inline;
		vertical-align: top;
		zoom:1;
		width: 18%;
	}
		.footer ul {
			list-style: none;
		}
			.list ul  li {
				margin-bottom: 5px;
			}

		.list_soc {
			display: inline-block;
			*display: inline;
			vertical-align: top;
			zoom:1;
			width: 10%;
		}
			.list_soc  ul li {
				overflow: hidden;
				margin-bottom: 10px;
			}
			.list_soc  ul li a {
				display: block;	
				float: right;

			}	

			#vk {
				background: url(../image/sprite.png) no-repeat -90px -1px;
				width: 18px;
				height: 17px;
			}
			#tw {
				background: url(../image/sprite.png) no-repeat -90px -31px;
				width: 22px;
				height: 18px;
			}
			#fb {
				background: url(../image/sprite.png) no-repeat -90px -62px;
				width: 18px;
				height: 18px;
			}
			#g {
				background: url(../image/sprite.png) no-repeat -90px -92px;
				width: 17px;
				height: 18px;
			}

	.author{
		float: left;
		margin-top:-46px;
		position: relative;
		z-index: 2;
	}		


.popup{
	position: absolute;
	z-index: 100;
	left: 20px;
	top:20px;
	display: none;
}

.h10 {
	height: 10px;
}

.popupContent {
	position: relative;
}

.popupExit {
	position: absolute;
	z-index: 2;
	right:5px;
	top:5px;
	width: 12px;
	height: 10px;
	background: url(../image/sprite.png) no-repeat -37px -69px;
}
.popuptelPContent {
	padding: 10px;
	width: 182px;
	background:#535353;
	box-shadow: 1px 1px 3px #000;
}

.popuploginPContent {
	padding: 20px 15px;
	width: 250px;
	background:#535353;
	box-shadow: 1px 1px 3px #000;
}

	.popuploginPContent  input[type=text], .popuploginPContent  input[type=password] {
		height: 15px;
		padding: 7px 10px;
		width: 90%;
		border:none;
		display: block;
		margin-bottom: 10px;
	}
	.popuploginPContent  input::-webkit-input-placeholder {
		color: #000;
		font-style: italic;
	}

	.popuploginPContent .t_r {
		width:98%;
	}
		.popuploginPContent .t_r  a {
			font-size: 12px;
			color:#fff;
		}

.popuptelPContent  .number{
	float: none;
	display: block;
	overflow: hidden;
	margin:  0 0 5px 10px;
}

.f_name {
	display: block;
	color:#80d7cf;
	font-size: 14px;
	margin-bottom: 10px;
}

.ta_r {
	text-align: right;
}

.f_l {
	float: left;
}

.f_r {
	float: right;
}

.grey_box {
	background: #535353;
	box-shadow: 1px 1px 3px #000;
	min-height: 300px;
	padding: 20px;
	margin-bottom: 20px;
}

.in_b {
	display: table;
	*display: block;
	zoom:1;
	width: 100%;
	font-size: 0px;
}
	
	.in_b * {
		font-size: 14px;
	}

	.in_b>*{
		display: inline-block;
		*display: inline;
		zoom:1;
	}

	.bread {
		list-style: none;
	}
	
	.bread li {
		margin-left: 5px;
		font-size: 0px;
	}

	.bread li:first-child{
		margin-left: 0px;
	}
	
		.bread li a, .bread li span {
			color:#f6f5f3;
			font-size: 11px;
			text-transform: uppercase;
			display: inline-block;
			*display: inline;
			zoom:1;
			vertical-align: middle;
		}
		.bread li .bg {
			vertical-align: middle;
			width: 7px;
			height: 5px;
			margin-left: 4px;
			background: url(../image/sprite.png) no-repeat -52px -69px;
		}

		.bread li a {
			color:#80d7cf;
			text-decoration: none;
		}

.message
{
	color:#f6f5f3;
}
	.message a
	{
		color:#80d7cf;
	}

h1 {
	color:#fff;
	font-family: 'Georgia';
	font-size: 40px; 
	font-weight: normal;
	text-align: center;
	margin: 20px 0 40px;
	line-height: 40px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
}

h2 {
	color:#fff;
	font-family: 'Georgia';
	font-size: 30px; 
	font-weight: normal;
	text-align: left;
	line-height: 40px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
}

ul {
	list-style: none;
}

.items_container {
	float: right;
	width: 73%;
}

.left_menu {
	width: 25%;
	float: left;
}
	.sort {
		width: 100%;
		border:1px solid #80d7cf;
		color:#fff;
		font-size: 12px;
	}	
		.sort *{
			font-size: 12px;
		}
	
		.sort .sort_title {
			text-transform: uppercase;
			font-size: 14px;
			margin-right: 10px;
		}
		.sort_content {
			padding: 9px;
		}

    .left_menu .menu {
		display: block;
		box-shadow: none;
		margin-bottom: 40px;
	}
	.left_menu .menu .box>ul {
		width: 100%;
		margin: 0 auto;
	}
	.left_menu .menu .box>ul>li {
		display: block;
		width: 100% !important;
		
		background: #141213;

	}

	.fsb {
		font-weight: bold !important;
		text-transform: none !important;
		font-size: 12px !important;
		padding-left: 15px; 
		padding-right: 15px; 
		font-family: 'Verdana';
	}
	
	.quan {
		width: 70px;
		height: 40px;
		position: relative;
		display: inline-block;
		*display: inline;
		zoom:1;
		border:1px solid #80d7cf;
		overflow: hidden;
		vertical-align: middle;
		background: #80d7cf;
	}
		.quan input {
			position: absolute;
			left: 0px;
			top:0px;
			border: none;
			width: 37px;
			height: 100%;
			font-size: 14px;
			line-height: 14px;
			text-align: center !important;
		}
			.quan  a{
				background: #80d7cf url(../image/sprite.png) no-repeat;
				position: absolute;
				right: 0px;
				height: 50%;
				width: 32px;
			}
			.quan .tp {
				top: 0px;
				background-position: -82px -117px;
			}
			.quan .bt {
				bottom: 0px;
				background-position: -82px -136px;
			}

	.left_menu .menu .box>ul>li.active,.left_menu .menu .box>ul>li.active:hover{
		background:#80d7cf;
	}
	
	.left_menu .menu .box>ul>li.active ul {
		display: block;
	}

	.left_menu .menu .box>ul>li>a{
		text-align: center;
		padding:10px 0px 10px 0px;
		font-size: 18px;
		background: none;
	}

	
	.left_menu .menu .box>ul>li:hover a{
		background:none;
	}

	.left_menu .menu .box>ul>li>a:hover{
		background:#80d7cf;
	}
	.left_menu .menu .box>ul>li ul {
		position: static;
		background: #535353;
		padding: 15px 0;
	}
		.left_menu .menu .box>ul>li ul li a{
			padding:5px 0px 5px 0px;
			color:#fff;
			text-align: center;
			text-transform: none;
			font-size: 14px;
			border:none;
		}
		.left_menu .menu .box>ul>li ul li:hover, .left_menu .menu .box>ul>li ul li.active {
			background: #777777;
		}
		.left_menu .menu .box>ul>li ul li:hover a, .left_menu .menu .box>ul>li ul li.active a {
			color:#80d7cf;

		} 

		.left_menu .menu  a .select{
			display: block;
		}
	
	.left_menu .menu .box>ul>li:first-child{
		border-top:none;
	}

.catalog {
	text-align: justify;
}

.c_item {
	width: 33%;
	margin: 10px 0 30px;
}
.c_item_content {
	width: 209px;
	background: #141213;
	position: relative;
	margin: 0 auto;
	box-shadow: 3px 3px 3px #000;
}
	.c_item_content .imgBg {
		width: 209px;
		height: 218px;
		position: relative;
	}
		.c_item_content .imgBg img {
			position: absolute;
			left: 0px;
			top:0px;
			right: 0px;
			bottom: 0px;
			max-width: 209px;
			max-height: 218px;
			margin: auto;
		}

		.c_item_content .kiseya img {
			left: 0px;
			top:0px;
			right: 0px;
			bottom: 0px;
			max-width: 209px;
			margin: auto;
		}

		.c_item_content .photo img {
			left: 0px;
			top:0px;
			right: 0px;
			bottom: 0px;
			max-width: 209px;
			max-height: 218px;
			margin: auto;
		}

	.c_desc {
		text-align: center;
		padding: 10px 0 20px;
		margin-top: -4px;
		transition:background 0.2s;
		-webkit-transition:all 0.1s;
		-moz-transition:background 0.2s;
	}
		.c_desc .title {
			color:#80d7cf;
			font-size: 16px;
			font-weight: bold;
			text-decoration: none;
			margin-top:5px;
		}	
		.c_desc .color {
			color:#fff;
			margin-top:5px;
			font-style: italic;
		}
		.c_desc .price {
			color:#fff;
			margin-top:5px;
		}

	.but_con {
		display: none;
		position: absolute;
		left: 0px;
		bottom:-29px;
		width: 100%;
		background:#80d7cf;
		text-align: center;
		padding: 5px 0;
		height: 29px;
		box-shadow: 3px 3px 3px #000;
	}
		.buy .bg2{
			background: url(../image/sprite.png) no-repeat -66px -35px;
			width: 17px;
			height: 21px;
			margin: 0 5px;
		}
		.but_con a {
			display: inline-block;
			*display: inline;
			zoom:1;
			border:1px solid #000;
			padding: 3px 10px;
		}
	


	.c_item_content:hover .but_con{
		display: block;
	}

	.c_item_content:hover .c_desc {
		background:#80d7cf;
		
	}
	.c_item_content:hover .c_desc>*{
		color:#000;
	}	
	.c_pag {
		text-align: center;
		margin: 10px 0px;
	}
		.c_pag a {
			padding: 3px 3px;
			color:#fff;
			width: 20px;
			text-decoration: none;
			text-align: center;
			border:1px solid #80d7cf;
			margin: 0 3px;
		}
			.c_pag a.active {
				background: #80d7cf;
				color:#000;
				font-weight: bold;
			}

			.ta_c {
				text-align: center;
			}

		.banner {
			position: relative;
			width: 100%;
			text-align: center;
		}
			.banner img {
				display: block;
				width: 100%;
			}
				.banner .f_title {
					top:30%;
					
				}
				
				.blue_text {	
					background:#80d7cf;
					color:#000;
					display: inline-block;
					*display: inline;
					zoom:1;
					font-size: 12px;
					padding: 2px 5px;
					margin-bottom: 5px;
				}


.blocks>div:first-child{
	margin-right: 6%;
}

.blocks  .res_block {
	float: left;
	width: 47%;
	min-width: 398px;
	position: relative;
}

.articul {
	background:#141213;
	position: absolute;
	right: 0px;
	top:0px;
	color:#fff;
	font-size: 14px;
	padding: 4px 12px;
}

.i_text {
	color:#fff;
	font-size: 12px;
	margin-bottom: 10px;
	line-height: 25px;
}

.h_con {
	background: #777777;
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	font-family: 'Verdana';
	padding: 10px 50px 10px 10px;
	position: relative;
}
.blocks_text {
	color:#fff;
	text-align: left;
	font-size: 14px;
	line-height: 24px;
	margin: 10px 0;
}

.cb{
	color:#80d7cf;
	font-weight: bold;
}

.blocks_text .wd86 {
	width: 86px;
}

.map {
	display: block;
	width: 100%;
	margin: 10px 0 0;
}

.blocks_text .fs12{
	font-size: 12px;
}

.h_con.f_con {
	background: #80d7cf;
	color: #000;
	margin-bottom: 15px;
	margin-top: 5px;
}

.h_con a{
	text-transform: none;
	color: #000;
	text-decoration: none;
}
	.h_con a:hover {
		text-decoration: underline;
	}

.con_form label{
	display: block;
	margin-bottom: 10px;
}

.con_form input[type="text"], .con_form input[type="password"] {
	padding: 2%;
	background: #777777;
	height: 12px;
	font-size: 12px;
	display: block;
	width: 96%;
	border: none;
	display: block;
	color: #fff;
	font-style: italic;
}
.con_form input::-webkit-input-placeholder, .con_form textarea::-webkit-input-placeholder {
			    color: #fff;
			    font-size: 13px;
			}
.con_form  select {
	padding: 1%;
	width: 100%;
	font-size: 12px;
	display: block;
	background: #777777;
	border: none;
	color: #fff;
	height: 30px;
	font-style: italic;
}
.con_form .res_block {
	display: block;
	float: left;
	overflow: hidden;
	width: 47%;
} 

.con_form .res_block.first {
	margin-right: 6%;
}
.f_tit {
	font-size: 18px;
	text-transform: uppercase;
	color:#80d7cf;
	margin-bottom: 20px;

}

.a_more {
	color: #80d7cf;
	font-size: 12px;
	margin-left: 10px;
	text-decoration: none;
}
	.a_more:hover {
		text-decoration: underline;
	}

.confirm {
	width: 250px;
	padding: 10px 20px;
	font-size: 18px;
	height: 45px !important;
	margin-bottom: 20px;
}

.con_form  .border {
	border:1px solid #80d7cf;
}


.con_form textarea{
	display: block;
	padding: 1%;
	background: #777777;
	height: 12px;
	width: 98%;
	max-width: 98%;
	height: 120px;
	border: none;
	color:#fff;
	font-size: 13px;
	font-style: italic;
}

.spbg {
	display: block;
	background: url(../image/sprite.png) no-repeat;

}

.bg_addr {
	width: 29px;
	height: 27px;
	position: absolute;
	background-position: 0px -87px;
	right: 5px;
	top:50%;
	margin-top: -14px;
}

.bg_cont {
	width: 24px;
	height: 22px;
	position: absolute;
	background-position: 0px -118px;
	right: 7px;
	top:50%;
	margin-top: -11px;
}

.bg_recv {
	width: 31px;
	height: 22px;
	position: absolute;
	background-position: -36px -87px;
	right: 7px;
	top:50%;
	margin-top: -11px;
}


.cart_title, .itog{
	padding: 11px 13px;
	color:#fff;
	text-transform: uppercase;
	font-size: 14px;
	background:#777777;
	margin-bottom: 20px;
}
.itog {
	text-align: right;
}

.itog .itog_text {
	font-size: 18px;
}

.itog .pr_val {
	font-size: 30px;
}

.itog .pr_curr {
	font-size: 14px;
	margin-right: 10.8%;
}

.cart_container {
	padding: 11px 13px;
	background:#fff;
	margin-bottom: 3px;
}
	.cart_title .cart_title_content {
		font-size: 14px;
	}

	.cart_container .cart_content  {
		font-size: 14px;
	}

	.cart .name {
		width: 32%;
		vertical-align: middle;
	}
	.t_text{
		display: none;
	}

	.cart  .un_cart {
		width: 67%;
		vertical-align: middle;
	}
	.cart .un_cart .size{
		width: 25%;
	}
	.cart .un_cart .price{
		width: 30%;
	}
	.cart .un_cart .summ{
		width: 43%;
	}
	.cart .size {
		width: 15%;
		vertical-align: middle;
	}
	
	.cart .price {
		width: 23%;
		vertical-align: middle;
	}
	.cart .summ {
		width: 28%;
		vertical-align: middle;
	}
	.cart  .imgBg {
		width: 102px;
		height: 100px;
		position: relative;
		margin-right: 5px;
	}

		.cart  .imgBg img {
			position: absolute;
			left: 0px;
			top:0px;
			bottom: 0px;
			right: 0px;
			margin: auto;
			max-width: 102px;
			max-height: 100px;
		}

		.cart .title {
			width: 60%;

		}

		.remove {
			background: url(../image/sprite.png) no-repeat -34px -113px;
			width: 26px;
			height: 25px;
			margin-left: 15px;
			float: right;
		}


	.va_m{
		vertical-align: middle;
	}
	.ta_c {
		text-align: center;
	}

	.price .pr_val, .summ .pr_val {
		font-size: 24px;
	}
	.price  .pr_curr, .summ  .pr_curr{
		font-size: 12px;
		margin-left: 2px;
	}

	.it_t {
		display: none;
	}

.of_z .button{
	float: right;
	padding: 10px 50px;
	font-size: 18px;
	margin-left: 20px;
}

.of_z .continue {
	float: right;
	
	margin-top: 10px;
}


.n_date {
	text-align: center;
	font-size: 14px;
	color:#fff;
	margin-bottom: 10px;
}
.n_title {
	text-align: center;
	font: 24px 'Georgia';
	color:#80d7cf;
	margin-bottom: 10px;
}


.n_text {
	color:#fff;
	font-size: 14px;
	line-height: 20px;
	text-align: justify;
	margin-bottom: 40px;
}

.n_text p, .n_text img{
	margin:  0 0 10px 0;
}

	.n_text  img {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}

.bg_new {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -13px;
	width: 26px;
	height: 26px;
	background-position: 0px -145px;
}
.bg_enter {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -13px;
	width: 19px;
	height: 32px;
	background-position: -37px -143px;
}

.fc {
	color: #fff;
	font-style: italic;
}


.imgCon {
	width: 100%;
	position: relative;
	margin: 0 auto 20px;
}
	.imgCon img {
		display: block;
		max-width: 100%;
		margin: 0 auto;

	}

.small_car, .small_car .car_content, .small_car .car_container,.small_car .car_content .item {
	height: 100px;
}
	
.sm_content{
	width: 105px;
	height: 100px;
	position: relative;
	box-shadow: none;
	margin: 0 auto;
}

.sm_content img {
		max-width: 105px;
		max-height: 100px;
		position: absolute;
		left: 0px;
		right: 0px;
		top:0px;
		bottom: 0px;
		margin: auto;
	}

.prices span {
	color:#fff;
	font-size: 30px;
}
.prices span+span {
	font-size: 12px;
	margin-left: 5px;
}
.prices span+span+span{
	font-style: italic;
	vertical-align: top;
	margin-top: -10px;
}

.old_prices span {
	color:#cfcecc;
	font-size: 12px;
	text-decoration: line-through;
}
.old_prices span+span {
	text-decoration: none;
}

.ci_title {
	color:#fff;
	text-align: center;
	padding-bottom: 20px;
	font: 40px "Georgia";
}

.size_com {
	color:#80d7cf;
	text-align: center;
	font-size: 12px;
	font-style: italic;
	margin-top: -20px;
}

.comment {
	color:#fff;
	border-bottom: 1px solid #000;
	padding: 0px 0px 10px;
	margin-bottom: 10px;
}
	.comment  .name {
		font-style: italic;
	}

	.comment .cb{
		font-style: normal;
	}

	.comment p {
		text-align: justify;
	}


.bg.bot {
	background: url(../image/sprite.png) no-repeat -69px -118px;
	width: 11px;
	height: 11px;
	display: inline-block;
	*display: inline;
}

.bg.left {
	background: url(../image/sprite.png) no-repeat -69px -118px;
	width: 11px;
	height: 11px;
	display: inline-block;
	*display: inline;
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	margin-right: 5px;
}


.gr_text {
	background: #535353;
	color: #fff;
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0px 20px 20px;
	box-shadow: 1px 1px 3px #000;
}

.pab {
	position: absolute;
	right: 0px;
	top:10px;
}








	

















@media screen and (max-width: 945px) {
	.c_item {
		width: 49%;
	}
	.left_menu {
		width: 30%;
	}
	.items_container {
		width: 68%;
	}
	.sort_content .sort_title , .sort_content label, .sort_content select{
		display: block;
		width: 100%;
	}

}

@media screen and (max-width: 920px) {
  	.header .search {
  		left: auto;
  		right: 20%;
  		margin-left: 0px;

  	}
  	.content {
  		background: none;
  	}

   .f_title  .f_title_text {
  		font-size: 28px;
  	}
  	.f_title .f_text {
  		font-size: 14px;
  	}
  	.fs14 {
  		font-size: 13px;
  	}

  	.cart .title {
		width: 100%;
	}
}
@media screen and (max-width: 820px) {
	.header .search {
  		left: auto;
  		right: 160px;
  		margin-left: 0px;
  	}
  	.f_title  .f_title_text {
  		font-size: 20px;
  	}
  	.f_title .f_text {
  		display: none;
  	}
}


@media screen and (max-width: 800px) {
	h1 {
		font-size: 24px;
	}
	#logo {
		margin-left:5px;
		left:0px;
		position: relative;
		float: left;
	}
} 



@media screen and (max-width: 760px) {
	h2 {
		font-size: 20px;
	}

	.inion {
		width: 90%;
		margin: 0 auto;
	}
	#logo {
		float: right;
		height: 70px;
	}
	.header #tel{
		width: 50%;
	}
	.header #logo{
		width: 50%;
		margin-left: 0px;
	}
	#logo img {
		display: block;
		max-width: 100%;

	}
	.header .search {
  		left: 0px;
  		right: auto;
  		float: none;
  		clear: both;
  		width: 90%;
  		top:0px;
  		margin: 20px auto 0px;
  		position: relative;
  	}
  	.header .rec_block {
  		width: 90%;
  		float: none;
  		margin: 20px auto;
  		clear: both;
  		overflow: hidden;
  	}
  	.header .rec_block .button{
  		width: 62px;
  	}
  	.rec_block .clear{
  		clear: none;
  	}
  	.rec_block  .rec {
  		float: left;
  	}
  	.fs14 {
  		font-size: 12px;
  	}

  	
}

@media screen and (max-width: 700px) {
	

	.pab {
		position: static;
		margin-bottom: 10px;
	}
	.banner {
		display: none;
	}
	.c_item {
		width: 33%;
	}

	.c_item .but_con {
		display: block;
		position: static;
		background: #141213;
	}
	.c_item .buy {
		background: #80d7cf;
	}

	.sort {
		width: auto;
		display: block;
	}
	.left_menu {
		width: 100%;
		float: none;
		margin-bottom: 10px;

	}
	.items_container {
		width: 100%;
		float: none;

	}

	.first_box {
		display: none;
	} 

	.second_box {
		display: block;
		padding-top:10px;
	}
	.hide_header , .hide_menu{
		display: block;
	}
	.header {
		padding-bottom: 10px;
	}

	.menu {
		display: none;
	}
	.menu .box>ul {
		width: 90%;
		margin: 0 auto;
	}
	.menu .box>ul>li {
		display: block;
		width: 100% !important;
		border-top:1px solid #000;
	}
	.menu .box>ul>li>a{
		text-align: left;
		padding:5px 0px 5px 20px;
		font-size: 12px;
	}
	.menu .box>ul>li:hover ul{
		display: none;
	}
	.menu .box>ul>li:hover a{
		background:#535353;
	}

	.menu .box>ul>li a:hover{
		background:#80d7cf;
	}
	.menu .box>ul>li ul {
		position: static;
		background: #535353;
	}
		.menu .box>ul>li ul li a{
			padding:5px 0px 5px 30px;
			font-size: 10px;
			color:#fff;
		}
		.menu  a .select{
			display: block;
		}
	
	.menu .box>ul>li:first-child{
		border-top:none;
	}

	.text_content {
		display: block;
		width: 99%;
		margin-left:auto;
		margin-right: auto;
	}

	.subscr {
		width: 100%;
		text-align: center;
		height: auto;
		margin-bottom: 10px;
	}
		.subscr form {
			margin:  0 auto;
		}

	.footer .list {
		width: 39%;
	}
	.author{
		margin-top: 10px;
	}

	.blocks  .res_block {
		min-width: inherit;
	}		
}

@media screen and (max-width: 690px) {
	h1 {
		font-size: 22px;
	}
	h2 {
		font-size: 18px;
	}
	.c_item {
		width: 49%;
	}
	.res_block {
  		width: 100% !important;
  		margin: 0px !important;
  	}
  	.con_form .res_block  {
  		margin: 0px 0px 10px 0px !important;
  	}
}

@media screen and (max-width: 500px) {
	.cart_title {
		display: none;
	}

	.cart .title {
		font-size: 12px;
	}
	.price .pr_val, .summ .pr_val {
		font-size: 16px;
	}
	
	.cart .un_cart {
		width: 65%;
	}

	.cart .un_cart>*, .cart .un_cart div>* {
		text-align: right;
	}

	
	.cart .un_cart .summ, 	.cart .un_cart .price, 	.cart .un_cart .size{
		width: 100%;
		margin-bottom: 5px;
	}

	.c_item {
		width: 100%;
	}

	.t_text {
		display: block;
		font-weight: bold;

	}



	.header .inion{
		overflow: hidden;
		margin-bottom: 10px;
	}
	.header {
		padding-top: 0px;
		padding-bottom:10px;
	}
	.second_box {
		padding-top: 10px;
	}

	.header #tel{
		width: 65%;
	}
	.number {
		font-size: 18px;
	}
		.number .f_num {
			font-size: 10px;
		}


	.header #logo{
		height: auto;
		margin-top: 30px;
		width: 35%;
	}
	
	.search input[type=text] {
		width: 70%;
	}
	.f_title  .f_title_text {
  		font-size: 14px;
  	}
  	.text_block {
  		width: 100%;
  		margin: 0 0 5px;
  	}

}

@media screen and (max-width: 400px) {
	.of_z .button{
		float: none;
		padding: 10px 0px;
		font-size: 18px;
		margin-left: 0px;
		width: 100%;
	}

	.of_z .continue {
		float: none;
		width: 100%;
		padding: 0px;	
		margin-top: 10px;
	}

	.pab {
		padding: 0px;	
		width: 100%;
	}
}

.fl-left {
	float: left;
}
.fl-right  {
	float: right;
}

.form-horizontal  fieldset {
	border: none;
	color: #fff;
} 

.form-horizontal legend {
	font-size: 14px;
	color:#fff;
	margin-bottom: 20px;
}

.sitemap  ul ul {
	padding-left:5%;
}

.sitemap  a{
 	color:#80d7cf;
}

.sitemap  a:hover{
 	color:#fff;
}