<?php echo $header; ?>
<main class="content">
  <div class="box" id="main_box">
    <div class="grey_box">
      <ul class="in_b bread" >
  <?php foreach ($breadcrumbs as $breadcrumb) { ?>
  <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
  <?php } ?>
</ul>
<div class="row"><?php echo $column_left; ?>
  <div id="content" class="span9"><?php echo $content_top; ?>
    <h1><?php echo $heading_title; ?></h1>
    <?php if ($returns) { ?>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="right"><?php echo $column_return_id; ?></td>
          <td class="left"><?php echo $column_status; ?></td>
          <td class="left"><?php echo $column_date_added; ?></td>
          <td class="right"><?php echo $column_order_id; ?></td>
          <td class="left"><?php echo $column_customer; ?></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($returns as $return) { ?>
        <tr>
          <td class="right">#<?php echo $return['return_id']; ?></td>
          <td class="left"><?php echo $return['status']; ?></td>
          <td class="left"><?php echo $return['date_added']; ?></td>
          <td class="right"><?php echo $return['order_id']; ?></td>
          <td class="left"><?php echo $return['name']; ?></td>
          <td><a href="<?php echo $return['href']; ?>" data-toggle="tooltip" title="<?php echo $button_view; ?>"><i class="icon-eye-open"></i></a></td>
        </tr>
        <?php } ?>
      </tbody>
    </table>
    <div class="pagination"><?php echo $pagination; ?></div>
    <?php } else { ?>
    <div class="empty"><?php echo $text_empty; ?></div>
    <?php } ?>
    <div class="buttons clearfix">
      <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
    </div>
    </div>
  </div>
   </div>
  </div>
</main>
  <?php echo $column_right; ?></div>
<?php echo $footer; ?>