<div class="res_block" style="margin-right: 6%;">
	<h2 class="h_con f_con"><?php echo $text_your_details; ?></h2>
	<div class="con_form">
		<label>
			<div class="border">
				<input type="text" name="firstname" value="" placeholder="<?php echo $entry_firstname.'*'; ?>" id="input-payment-firstname" />
			</div>
		</label>

		<label>
			<div class="border">
				<input type="text" name="lastname" value="" placeholder="<?php echo $entry_lastname.'*'; ?>" id="input-payment-lastname" />
			</div>
		</label>
		
		<label>
			<div class="border">
				<input type="text" name="email" value="" placeholder="<?php echo $entry_email.'*'; ?>" id="input-payment-email" />
			</div>
		</label>
		
		<label>
			<div class="border">
				<input type="text" name="telephone" value="" placeholder="<?php echo $entry_telephone.'*'; ?>" id="input-payment-telephone" />
			</div>
		</label>
		
		<label>
			<div class="border">
				<input type="password" name="password" value="" placeholder="<?php echo $entry_password.'*'; ?>" id="input-payment-password" />
			</div>
		</label>

		<label>
			<div class="border">
				<input type="password" name="confirm" value="" placeholder="<?php echo $entry_confirm; ?>" id="input-payment-confirm" />
			</div>
		</label>
	</div>
</div>
<div class="res_block">
	<h2 class="h_con f_con"><?php echo $text_your_address; ?></h2>
	<div class="con_form">
		
		<label style="display: <?php echo (count($customer_groups) > 1 ? 'block' : 'none'); ?>;">
			<div class="border">
				<?php foreach ($customer_groups as $customer_group) { ?>
				<?php if ($customer_group['customer_group_id'] == $customer_group_id) { ?>
				<label class="radio">
					<input type="radio" name="customer_group_id" value="<?php echo $customer_group['customer_group_id']; ?>" checked="checked" />
					Я <?php echo $customer_group['name']; ?> покупатель</label>
				<?php } else { ?>
				<label class="radio">
					<input type="radio" name="customer_group_id" value="<?php echo $customer_group['customer_group_id']; ?>" />
					Я <?php echo $customer_group['name']; ?> покупатель</label>
				<?php } ?>
				<?php } ?>
			</div>
		</label>


		<label>
			<div class="border">
				<select name="country_id" id="input-payment-country">
					<option value=""><?php echo $text_select.'*'; ?></option>
					<?php foreach ($countries as $country) { ?>
					<?php if ($country['country_id'] == $country_id) { ?>
					<option value="<?php echo $country['country_id']; ?>" selected="selected"><?php echo $country['name']; ?></option>
					<?php } else { ?>
					<option value="<?php echo $country['country_id']; ?>"><?php echo $country['name']; ?></option>
					<?php } ?>
					<?php } ?>
				</select>
			</div>
		</label>

		<label>
			<div class="border">
				<select name="zone_id" placeholder="<?php echo $entry_zone.'*'; ?>" id="input-payment-zone">
				</select>
			</div>
		</label>
		<label>
			<div class="border">
				<input type="text" name="city" value="" placeholder="<?php echo $entry_city; ?>" id="input-payment-city" />
			</div>
		</label>
		
		<label>
			<div class="border">
				<select name="company" value="" id="input-payment-company" >
					<option value="Новая Почта" selected="selected">Новая Почта</option>
					<option value="УкрПочта">УкрПочта</option>
				</select>
			</div>
		</label>
		
		<label>
			<div class="border">
				<input type="text" name="address_1" value="" placeholder="<?php echo $entry_address_1.'*'; ?>" id="input-payment-address-1" />
			</div>
		</label>
		
		<!-- <label>
			<div class="border">
				<input type="text" name="postcode" value="" placeholder="<?php echo $entry_postcode; ?>" id="input-payment-postcode" />
			</div>
		</label> -->
	</div>
</div>
<div class="clear"></div>

<div class="res_block">
	<div class="con_form">
		<label class="checkbox" for="newsletter">
			<input type="checkbox" name="newsletter" value="1" id="newsletter" checked="checked" />
			<?php echo $entry_newsletter; ?>
		</label>
		
		<?php if ($shipping_required) { ?>
			<!-- <label class="checkbox">
				<input type="checkbox" name="shipping_address" value="1" checked="checked" />
				<?php echo $entry_shipping; ?>
			</label> -->
		<?php } ?>

		<?php if ($text_agree) { ?>
			<div class="buttons clearfix">
				<div class="pull-right"><?php echo $text_agree; ?> &nbsp;
					<input type="checkbox" name="agree" value="1" />
					<input type="button" value="<?php echo $button_continue; ?>" id="button-register" data-loading-text="<?php echo $text_loading; ?>" class="button fsb" />
				</div>
			</div>
		<?php } else { ?>
			<div class="buttons clearfix">
				<div class="pull-right">
					<input type="button" value="<?php echo $button_continue; ?>" id="button-register" data-loading-text="<?php echo $text_loading; ?>" class="button fsb" />
				</div>
			</div>
		<?php } ?>
	</div>
</div>

<script type="text/javascript"><!--
/*
$('#payment-address input[name=\'customer_group_id\']:checked').on('change', function() {
		var customer_group = [];

});

$('#payment-address input[name=\'customer_group_id\']:checked').trigger('change');
*/
//--></script>
<script type="text/javascript"><!--
$('#input-payment-country').on('change', function() {
	$.ajax({
		url: 'index.php?route=checkout/checkout/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('#input-payment-country').after(' <i class="icon-spinner icon-spin"></i>');
		},
		complete: function() {
			$('.icon-spinner').remove();
		},
		success: function(json) {
			if (json['postcode_required'] == '1') {
				$('#input-payment-postcode').parent().parent().addClass('required');
			} else {
				$('#input-payment-postcode').parent().parent().removeClass('required');
			}

			html = '<option value=""><?php echo $text_select; ?></option>';

			if (json['zone']) {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';

					if (json['zone'][i]['zone_id'] == '<?php echo $zone_id; ?>') {
							html += ' selected="selected"';
					}

					html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
					html += '<option value="0" selected="selected"><?php echo $text_none; ?></option>';
			}

			$('#input-payment-zone').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});